<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Dream</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="page">

        <div class="summary-box article-page">

            <h1>Immigrant Experience</h1>

            <div class="quote-grid">

                <div class="quote-card">
                    <div class="quote-mark">“</div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eligendi, quo!
                    </p>
                </div>

                <div class="quote-card">
                    <div class="quote-mark">“</div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Facilis, corrupti!
                    </p>
                </div>

                <div class="quote-card">
                    <div class="quote-mark">“</div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Incidunt, necessitatibus!
                    </p>
                </div>

            </div>

            <a class="back-button" href="/">← Back Home</a>

        </div>

    </div>

</body>

</html>